# IDE
.vscode
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
venv

# Test files
.tox

# Distribution packaging
*.egg-info/

# Misc
*/program
program
*.txt
